html {
  -webkit-box-sizing: border-box;
       box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
      box-sizing: inherit;
}

body {
  background-color: #111111;
  color: #ffffff;
}

.task-mgr {
  max-width: 800px;
  margin: 0 auto;
}

.task-mgr__list {
  list-style-type: none;
  padding: 0;
}

.task-mgr__list li {
  box-shadow: 0 0 10px -5px #ffffff;
  border-radius: 4px;
  padding: 4px 6px;
  position: relative;
  margin-bottom: 16px;
  transition: all .4s ease-in-out;
}

.task-mgr__list p{
  margin: 0;
}

/* .task-mgr__list li:has(.btn__remove:hover) p{
  transform: scaleY(0.1);
  transition: all .2s ease;
} */

.task-mgr__container {
  display: flex;
  gap: 10px;
}

.task-mgr__tasks-box {
  width: 60%;
}

.task-mgr__add-task {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

/* .task-mgr__add-task label {
  display: flex;
  flex-direction: row;
} */

 
.task-mgr__field {
  width: 100%;
  padding: 1px 5px;
  border-radius: 4px;
  border: none;
  flex: 1 1 100%;
}

.task-mgr__field:focus {
  box-shadow: 0 0 0 1px #ff0037;
  outline: none;
}

.task-mgr__field--date,
.task-mgr__field--temperature {
  flex: 1;
}

.task-mgr-btn {
  width: 100%;
}

.container {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
}

.task-title {
  font-size: 1.2em;
  color: #ff0037;
  background-color: #222222;
  padding: 0 5px;
  border-radius: 4px 4px 0 0;
}

.task-description {
  background-color: #444444;
  padding: 0 5px;
  border-radius: 0 0 4px 4px;
}

.btn {
  background: none;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  color: #ffffff;
}

.btn {
  transition: all .2s ease-in-out;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.btn__add:active {
  transform: scale(0.99);
  transition: all .1s ease-in-out;
}

.btn__add:hover {
  color: #ff0037;
  border-color: #ff0037;
} 

.btn__remove {
  position: absolute;
  content: "";
  top: -8px;
  right: -6px;
  width: 16px;
  height: 16px;
  padding: 0;
  transition: all .3s ease-in-out;
}


.btn__remove::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  content: "";
  height: 1px;
  width: 10px;
  background-color: #ffffff;
  transition: all .2s ease-in-out
}

.btn__remove::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  content: "";
  height: 1px;
  width: 10px;
  background-color: #ffffff;
  transition: all .2s ease;
}

.btn__remove:hover::before {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all .2s ease;
}


.btn__remove:hover::after {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all .2s ease;
}

.task-mgr__list li:has(.btn__remove:hover) {
  transform: translateY(-3px);
  transition: all .2s ease;
  opacity: 0.5;
  /* max-height: 3px; */
}

.btn__remove:hover {
  transform: translateY(4px);
  transition: all .3s ease;
}

.task-mgr__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

