body {
  background-color: #111111;
  color: #ffffff;
}

.task-mgr {
  max-width: 800px;
  margin: 0 auto;
}

.task-mgr__list {
  list-style-type: none;
  padding: 0;
}

.task-mgr__list li {
  box-shadow: 0 0 10px -5px #ffffff;
  border-radius: 4px;
  padding: 5px 10px;
  position: relative;
}

.task-mgr__list p{
  margin: 0;
}

.task-mgr__container {
  display: flex;
  gap: 10px;
}

.task-mgr__tasks-box {
  width: 60%;
}

.task-mgr__add-task {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.task-mgr__add-task label {
  display: flex;
  flex-direction: row;
}

 
.task-mgr__field {
  width: 100%;
  padding: 1px 5px;
}

.task-mgr-btn {
  width: 100%;
}

.container {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
}

.btn {
  background: none;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.btn__remove {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}


.btn__remove::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  content: "";
  height: 1px;
  width: 10px;
  background-color: #ffffff;
}

.btn__remove::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  content: "";
  height: 1px;
  width: 10px;
  background-color: #ffffff;
}

.btn__remove:hover::before {
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all .4s ease-in-out;
}


.btn__remove:hover::after {
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all .4s ease-in-out;
}